@media (min-width: 300px) {
  #header2 {
    line-height: 47px;
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  #header2 {
    font-size: 105.5px;
    line-height: 109px;
    letter-spacing: -4px;
  }
}

@media (min-width: 300px) {
  #minihead-o {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding-top: 5PX;
    padding-bottom: 0px;
    /*font-weight: 600;*/
  }
}

#headcol .col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

@media (min-width: 300px) {
  .rowbody {
    margin: 0;
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .rowbody {
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 300px) {
  #pagetitle {
    font-size: 35px;
    line-height: 30px;
    letter-spacing: 2px;
    padding: 15px;
    padding-bottom: 0px;
  }
}

@media (min-width: 992px) {
  #pagetitle {
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 2px;
    padding: 15px;
  }
}

@media (min-width: 1200px) {
  #minihead-o {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    padding-top: 7PX;
    /*font-weight: 600;*/
  }
}

